.mw-20rem {
  max-width: 20rem;
}

input::-webkit-outer-spin-button.no-arrows,
input::-webkit-inner-spin-button.no-arrows {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].no-arrows {
  -moz-appearance: textfield;
}

.timer {
  border-style: solid;
  border-width: 1px;
  border-color: #dee2e6;
}

.timer-ended {
  animation: blinkred 0.25s infinite alternate;

}

@keyframes blinkred {
  from {border-color: #dee2e6;}
  to {border-color: red;}
}